In [35]:
import numpy as np
import pandas as pd
df=pd.read_csv('news.csv')

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.model_selection import train_test_split

In [37]:
print(df.shape)
df.head()

(6335, 4)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [39]:
df["text"] = df['text'].str.replace('[^\w\s]','')
df["text"] = df['text'].str.lower()
df.head()

/tmp/ipykernel_4974/106969897.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["text"] = df['text'].str.replace('[^\w\s]','')

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,daniel greenfield a shillman journalism fellow...,FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,google pinterest digg linkedin reddit stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,us secretary of state john f kerry said monday...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,kaydee king kaydeeking november 9 2016 the le...,FAKE
4,875,The Battle of New York: Why This Primary Matters,its primary day in new york and frontrunners h...,REAL

In [73]:
vectorizer=TfidfVectorizer( min_df=5, stop_words= 'english', max_df=0.7)
label=df.label
x_train,x_test,y_train,y_test=train_test_split(df["text"], label, test_size=0.2, random_state=1)

In [74]:
x_train_vected=vectorizer.fit_transform(x_train)
x_test_vected=vectorizer.transform(x_test)

In [62]:
y_flat_train=y_train.to_numpy()
y_flat_test=y_test.to_numpy()

In [78]:
np.shape(x_train_vected)

(5068, 22545)

In [44]:
from sklearn.neural_network import MLPClassifier

In [83]:
clf = MLPClassifier(random_state=1, max_iter=300).fit(x_train_vected, y_flat_train)

In [84]:
clf.score(x_test_vected, y_flat_test)

0.9510655090765588

In [65]:
from sklearn.ensemble import RandomForestClassifier

In [81]:
rand_forest=RandomForestClassifier(n_estimators=1000, random_state=0)
rand_forest.fit(x_train_vected, y_flat_train)
rand_predict=rand_forest.predict(x_test_vected)

In [82]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_flat_test, rand_predict))

0.9163378058405682

In [79]:
from sklearn.linear_model import PassiveAggressiveClassifier

#DataFlair - Initialize a PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(x_train_vected,y_flat_train)
#DataFlair - Predict on the test set and calculate accuracy
y_pred=pac.predict(x_test_vected)
score=accuracy_score(y_flat_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 93.92%